@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

body {
    background-color: #FFF8E5;
    height: 100%;
}

.pageTitle {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin: 10px;
    color: #00A19D;
    text-align: start;
}

h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #00A19D;
    margin: 10px 10px 10px 10px;
    text-align: start;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    text-align: start;
    margin: 10px 10px 10px 10px;
}

.fileDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.fileDiv button {
    width: 250px;
}

.fileName {
    font-size: 24px;
}

.customBtn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
    background-color: #E05D5D;
    color: white;
    margin: 20px;
    padding: 10px;
    transition: 0.2s;
}

.customBtn:hover {
    background-color: #e82020;
}

.container-tasks {
    display: flex;
    flex-direction: column;
}

.container-task {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 150px 5px 30px;
    margin: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: start;
}

.container-task:hover {
    cursor: pointer;
}

.taskname {
    width: 40%;
}

.container-task h2 {
    font-weight: 700;
    margin: 0px;
}

.container-task h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
}

.container-task .delBtn {
    margin: 20px -120px 20px 0px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.testcaseTable {
    width: 95%;
    margin: auto;
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.loginDiv {
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.loginDiv h2 {
    text-align: center;
    font-size: 72px;
    margin: 50px;
}

.loginDiv input {
    outline: 0;
    border-width: 0 0 2px;
    font-size: 30px;
    margin: 30px;
}

.customLink{
    color: #ff9700 !important;
    font-size: 24px;
    margin: 10px;
}

.onSameLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .pageTitle {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .loginDiv h2 {
        font-size: 64px;
        margin: 20px;
    }

    .loginDiv input {
        font-size: 20px;
        margin: 20px;
    }

    .onSameLine{
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .loginDiv h2 {
        font-size: 48px;
        margin: 10px;
    }

    .loginDiv input {
        font-size: 20px;
        margin: 10px;
    }
}